@keyframes fadeOut {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

.fade-out-bg {
  animation: fadeOut 1s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes checkmateMove {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(40%, -40%) scale(0.65); /* moves up-right and shrinks */
  }
}

.move-up-right-shrink
{
    animation: checkmateMove 1s ease-in-out forwards;
    animation-delay: 0.5s;
}